#e146_11 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	height:933px;
	position:relative;
}
#e148_25 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:205px;
	height:56px;
	position:absolute;
	left:908px;
	top:850px;
	font-family:Arial;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
	line-height:undefined;
}
#e148_17 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:219px;
	height:42px;
	position:absolute;
	left:651px;
	top:867px;
	font-family:Arial;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
	line-height:undefined;
}
#e148_13 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:324px;
	height:45px;
	position:absolute;
	left:596px;
	top:682px;
	font-family:Arial;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
	line-height:undefined;
}
#e148_22 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:295px;
	height:31px;
	position:absolute;
	left:879px;
	top:682px;
	font-family:Arial;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
	line-height:undefined;
}
#e148_21 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:356px;
	height:40px;
	position:absolute;
	left:859px;
	top:526px;
	font-family:Arial;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
	line-height:undefined;
}
#e148_11 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:308px;
	height:56px;
	position:absolute;
	left:609px;
	top:524px;
	font-family:Arial;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
	line-height:undefined;
}
#e148_7 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:177px;
	height:40px;
	position:absolute;
	left:665px;
	top:363px;
	font-family:Arial;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
	line-height:undefined;
}
#e148_20 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:367px;
	height:41px;
	position:absolute;
	left:845px;
	top:365px;
	font-family:Arial;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
	line-height:undefined;
}
#e81_36 { 
	opacity:1;
	width:99px;
	height:89px;
	position:absolute;
	left:977px;
	top:751px;
	background-image:url('../image/ANH_DODACBANDO.png');
	background-repeat:no-repeat;
	background-size:cover;
}
#e81_34 { 
	opacity:1;
	width:117px;
	height:79px;
	position:absolute;
	left:693px;
	top:756px;
	background-image:url('../image/ANH_VIENTHAM.png');
	background-repeat:no-repeat;
	background-size:cover;
}
#e81_26 { 
	opacity:1;
	width:122px;
	height:82px;
	position:absolute;
	left:688px;
	top:585px;
	background-image:url('../image/ANH_BDKH.png');
	background-repeat:no-repeat;
	background-size:cover;
}
#e81_32 { 
	opacity:1;
	width:130px;
	height:93px;
	position:absolute;
	left:962px;
	top:579px;
	background-image:url('../image/ANH_MOITRUONG.png');
	background-repeat:no-repeat;
	background-size:cover;
}
#e81_24 { 
	opacity:1;
	width:130px;
	height:99px;
	position:absolute;
	left:962px;
	top:409px;
	background-image:url('../image/ANH_KTTV.png');
	background-repeat:no-repeat;
	background-size:cover;
}
#e81_22 { 
	opacity:1;
	width:121px;
	height:81px;
	position:absolute;
	left:693px;
	top:426px;
	background-image:url('../image/ANH_TAINGUYENNUOC.png');
	background-repeat:no-repeat;
	background-size:cover;
}
#e148_5 { 
	opacity:1;
	width:107px;
	height:98px;
	position:absolute;
	left:973px;
	top:262px;
	background-image:url('../image/ANH_DIACHAT.png');
	background-repeat:no-repeat;
	background-size:cover;
}
#e148_3 { 
	opacity:1;
	width:108px;
	height:82px;
	position:absolute;
	left:697px;
	top:275px;
	background-image:url('../image/ANH_DATDAI.png');
	background-repeat:no-repeat;
	background-size:cover;
}
#e77_49 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:356px;
	height:56px;
	position:absolute;
	left:748px;
	top:183px;
	font-family:Arial;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e81_30 { 
	opacity:1;
	width:652px;
	height:753px;
	position:absolute;
	left:0px;
	top:155px;
	background-image:url('../image/ANH_SONLA.png');
	background-repeat:no-repeat;
	background-size:cover;
}
#e146_12 { 
	opacity:1;
	width:1200px;
	height:155px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url('../image/ANHSOTNMT.png');
	background-repeat:no-repeat;
	background-size:cover;
}
